* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #434343, #000);
  color: white;
  text-align: center;
  overflow-x: hidden;
}

h2 {
  font-size: 42px;
  
}

#griss {
  color: #8e8e8e;
}

nav ul li {
  margin: 0 10px;
}

.texto-conceptos h3 {
  margin: 0px;
  font-size: 32px;
  font-weight: 600;
}

.texto-conceptos p {
  margin: 10px 0px;
  font-size: 18px;
}

/*EJERCICIOS*/
.exercises {
  margin: 30px 0px;
}

.image-container {
  position: relative; /* Permite que los elementos hijos con position: absolute se posicionen dentro de este */
  display: inline-block;
}

.main-image {
  width: 150px;
}

.overlay-image {
  position: absolute;
  bottom: -20px;
  right: -20px;
  width: 60px;
}

.main-image,
.overlay-image {
  max-width: 100%;
  height: auto;
}

.exercise p {
  font-size: 20px;
  margin-top: 40px;
}

.exercises a {
  text-decoration: none; 
  color: white;
}


/* MENU DESPLEGABLE */
.custom-dropdown {
  max-width: min(90vw, 600px) !important;
  left: auto !important;
  right: 0 !important;
  margin-right: 10px;
  white-space: normal;
  overflow-x: hidden;
}

.custom-dropdown .dropdown-item {
  white-space: normal;
  word-wrap: break-word;
  max-width: 100%;
  padding: 0.5rem 1rem;
}

.dropdown-menu {
  min-width: 300px;
}

.dropdown-item {
  white-space: nowrap; /* evita que el texto se divida */
  font-size: 90%;
}

/* Para móviles */
@media (max-width: 768px) {
  .custom-dropdown {
    max-width: 90vw !important;
    margin-right: 5px;
  }

  .custom-dropdown .dropdown-item {
    font-size: 0.9rem;
    padding: 0.5rem;
  }
}

html {
  scroll-behavior: smooth;
}


/* FOOTER */
footer {
  background: linear-gradient(to right, #070707, #000);
}
.footer-section a {
  transition: all 0.3s ease;
  display: inline-block;
}

.footer-section a:hover {
  color: cadetblue;
  transform: scale(1.05); /* Ligeramente más grande */
}

.footer-section a:hover i.fab.fa-gitlab {
  color: #fc6d26; /* Color GitLab */
}

.footer-section a:hover i.fab.fa-linkedin {
  color: #0a66c2; /* Color LinkedIn */
}